<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>$i18n.getText("upm.title")</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_plugins_menu/top_plugins_section/upm_section"/>
    <meta name="admin.active.tab" content="upm-admin-link"/>
    $webResourceManager.requireResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:plugin-manager")
    #if($applicationProperties.getDisplayName().toLowerCase() == "refimpl")
    $webResourceManager.requireResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:refapp")
    #end
    $webResourceManager.requireResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:fakedata")
</head>
<body>
    #set($descriptionWithHtml = $i18n.getText("upm.description"))
    #set($featuredDescriptionWithHtml = $i18n.getText("upm.install.featured.description"))
    #set($popularDescriptionWithHtml = $i18n.getText("upm.install.popular.description"))
    #set($supportedDescriptionWithHtml = $i18n.getText("upm.install.supported.description"))
    #set($availableDescriptionWithHtml = $i18n.getText("upm.install.available.description"))
    #set($upmPacAvailabilityCheckingHtml = $i18n.getText("upm.pac.availability.checking", "$pacWebsiteUrl"))
    #set($upmPacAvailabilityDisabledHtml = $i18n.getText("upm.pac.availability.disabled", "$pacWebsiteUrl"))
    #set($upmPacAvailabilityErrorHtml = $i18n.getText("upm.pac.availability.error", "$pacWebsiteUrl"))
    #set($hiddenMessageCountWithHtml = $i18n.getText("upm.messages.more"))
    #set($compatibleDescriptionWithHtml = $i18n.getText("upm.check.compatible.description", "$applicationProperties.getDisplayName()", "$applicationProperties.getVersion()"))
    #set($incompatibleDescriptionWithHtml =$i18n.getText("upm.check.incompatible.description", "$applicationProperties.getDisplayName()", "$applicationProperties.getVersion()"))
    #set($needUpgradeDescriptionWithHtml = $i18n.getText("upm.check.needUpgrade.description", "$applicationProperties.getDisplayName()", "$applicationProperties.getVersion()"))
    #set($needProductUpgradeDescriptionWithHtml = $i18n.getText("upm.check.needProductUpgrade.description", "$applicationProperties.getDisplayName()", "$applicationProperties.getVersion()"))
    #set($unknownDescriptionWithHtml = $i18n.getText("upm.check.unknown.description", "$applicationProperties.getDisplayName()", "$applicationProperties.getVersion()"))
    #set($recentProductReleaseWithHtml = $i18n.getText("upm.check.recentProductRelease", "$applicationProperties.getDisplayName()", "$applicationProperties.getVersion()"))
    #set($upgradeAllUpgradingDescriptionWithHtml = $i18n.getText("upm.progress.upgradeall.upgrading.description"))
    #set($upgradeAllUpgradingProgressWithHtml = $i18n.getText("upm.progress.upgradeall.upgrading.progress"))
    #set($upgradeAllDownloadingDescriptionWithHtml = $i18n.getText("upm.progress.upgradeall.downloading.description"))
    #set($upgradeAllDownloadingProgressWithHtml = $i18n.getText("upm.progress.upgradeall.downloading.progress"))
    #set($jiraUninstallWithHtml = $i18n.getText("upm.manage.jira.uninstall.description"))
    #set($purgePolicyInputWithHtml = $i18n.getText("upm.log.purgeAfter"))
    #set($noProductVersionDevP1WithHtml = $i18n.getText("upm.plugins.noProductVersion.dev.p1", "$applicationProperties.getDisplayName()"))
    #set($noProductVersionDevP2WithHtml = $i18n.getText("upm.plugins.noProductVersion.dev.p2", "$applicationProperties.getDisplayName()"))
    #set($refreshRequiredWithHtml = $i18n.getText("upm.requiresRefresh.message"))

    <div id="upm-container" class="upm-$applicationProperties.getDisplayName().toLowerCase()">
    
    <input type="hidden" id="upm-product-build-number" value="$applicationProperties.getBuildNumber()">

        <h2>
            <img src="$webResourceManager.getStaticPluginResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:plugin-manager", "images/upm-logo.png")" class="upm-logo" height="31" width="31" alt=""> 
            <span id="upm-title">$i18n.getText("upm.tabs.upgrade")</span>
        </h2>
        <p>
            $descriptionWithHtml
        </p>

        <div id="upm-pending-tasks" class="upm-info-box info">
            <p>
                <strong>$i18n.getText("upm.pendingTasks.message")</strong>
            </p>
            <ul id="upm-pending-tasks-details"></ul>
        </div>

        <div id="upm-safe-mode-off" class="upm-info-box">
            <p>
                <strong>$i18n.getText("upm.manage.safeMode", "$applicationProperties.getDisplayName()")</strong>
            </p>
            <p id="upm-safe-mode-exit-links" class="hidden">
                <a href="#" id="upm-safe-mode-restore">$i18n.getText("upm.manage.safeMode.restore")</a>
                <span class="pipe">|</span>
                <a href="#" id="upm-safe-mode-keep-state">$i18n.getText("upm.manage.safeMode.keepState")</a>
            </p>
        </div>

        <div id="upm-requires-restart-message" class="upm-info-box">
            <p>
                <strong>$i18n.getText("upm.requiresRestart.message", "$applicationProperties.getDisplayName()")</strong>
                <a href="#" id="upm-requires-restart-show">$i18n.getText("upm.requiresRestart.show")</a>
            </p>
            <ul id="upm-requires-restart-list"></ul>
        </div>

        <div id="upm-pac-checking-availability" class="upm-info-box hidden closeable">
            <p>
                $upmPacAvailabilityCheckingHtml
            </p>
        </div>

        <div id="upm-pac-unavailable" class="upm-info-box hidden closeable">
            <p>
                $upmPacAvailabilityErrorHtml
            </p>
        </div>

        <div id="upm-pac-disabled" class="upm-info-box hidden closeable">
            <p>
                $upmPacAvailabilityDisabledHtml
            </p>
        </div>

        <div id="upm-messages"></div>

        <div id="upm-tab-container">
            <ul id="upm-tabs">
                #if($tabVisibility.manageExistingVisible)
                    <li class="upm-selected"><a href="#manage" id="upm-tab-manage">$i18n.getText("upm.tabs.manage")</a></li>
                #end
                #if($tabVisibility.upgradeVisible)
                    <li><a href="#upgrade" id="upm-tab-upgrade">$i18n.getText("upm.tabs.upgrade")<span id="upm-upgrade-tab-count" class="hidden" title="$i18n.getText("upm.upgrade.count.description")"> (<span id="upm-upgrade-tab-count-value"></span>)</span></a></li>
                #end
                #if($tabVisibility.installVisible)
                    <li><a href="#install" id="upm-tab-install">$i18n.getText("upm.tabs.install")</a></li>
                #end
                #if($tabVisibility.compatibilityVisible)
                    <li><a href="#compatibility" id="upm-tab-compatibility">$i18n.getText("upm.tabs.upgradeCheck", "$applicationProperties.getDisplayName()")</a></li>
                #end
                #if($tabVisibility.auditLogVisible)
                    <li><a href="#log" id="upm-tab-log">$i18n.getText("upm.tabs.auditLog")</a></li>
                #end
                #if($tabVisibility.osgiVisible)
                    <li #if(!$tabVisibility.devModeEnabled) class="hidden" #end><a href="#osgi" id="upm-tab-osgi">$i18n.getText("upm.tabs.osgi")</a></li>
                #end
            </ul>
            <div class="clearer"></div>
        </div>
        <div id="upm-content">

            <!-- MANAGE TAB -->
            #if($tabVisibility.manageExistingVisible)
            <div id="upm-panel-manage" class="upm-panel">
                <input id="upm-manage-filter-box" class="upm-textbox upm-filterbox" value="$i18n.getText('upm.filter.filterPlugins')">

                <h3>$i18n.getText("upm.manage.userInstalled")</h3>
                <div id="upm-current-plugins">
                    <div id="upm-safe-mode-on" class="upm-safe-mode-actions hidden">
                        <a href="#" id="upm-safe-mode-enable">$i18n.getText("upm.manage.safeMode.enable")</a>
                    </div>
                    <p class="upm-section-description">
                        $i18n.getText("upm.manage.userInstalled.description")
                    </p>
                    <div id="upm-user-plugins"></div>
                </div>
                <h3>$i18n.getText("upm.manage.bundled")</h3>
                <div class="upm-warning-box" id="upm-bundled-summary">
                    <p>
                        $i18n.getText("upm.manage.bundled.summary", "$applicationProperties.getDisplayName()")
                    </p>
                    <p>
                        <a href="#" class="upm-manage-toggle-system" id="upm-manage-show-system">$i18n.getText("upm.manage.show.system")</a>
                        <a href="#" class="upm-manage-toggle-system" id="upm-manage-hide-system" style="display:none;">$i18n.getText("upm.manage.hide.system")</a>
                    </p>
                </div>
                <div id="upm-system-plugins"  style="display:none;"></div>
            </div>
            #end

            <!-- UPGRADE TAB -->
            #if($tabVisibility.upgradeVisible)
            <div id="upm-panel-upgrade" class="upm-panel upm-selected">
                <input id="upm-upgrade-filter-box" class="upm-textbox upm-filterbox" value="$i18n.getText("upm.filter.filterPlugins")">

                <h3>$i18n.getText("upm.upgrade.available")</h3>
                <div id="upm-upgrade-plugins">
                    <p id="upm-upgrade-description" class="upm-section-description">
                        $i18n.getText("upm.upgrade.available.description", "$applicationProperties.getDisplayName()")
                    </p>
                    <div id="upm-available-upgrades"></div>
                </div>
                <div class="upm-congrats-message upm-congrats-message-plugin-upgrades" id="upm-no-available-upgrades">
                    <h4>$i18n.getText("upm.plugins.congratulations")</h4>
                    <p>
                        $i18n.getText("upm.plugins.up.to.date")
                    </p>
                </div>
            </div>
            #end

            <!-- INSTALL TAB -->
            #if($tabVisibility.installVisible)
            <div id="upm-panel-install" class="upm-panel">
                ## UPM-913: Wrapping anchor in a div fixes a position: absolute bug in IE7                
                <div><a href="#" id="upm-upload" class="hidden" title="$i18n.getText("upm.install.upload")">$i18n.getText("upm.install.upload")</a></div>

                <div id="upm-install-filter-box">
                <label for="upm-install-type">$i18n.getText("upm.install.dropdown.label")</label>
                <select id="upm-install-type">
                    <option value="featured" selected="selected">$i18n.getText("upm.install.featured.dropdown")</option>
                    <option value="popular">$i18n.getText("upm.install.popular.dropdown")</option>
                    <option value="supported">$i18n.getText("upm.install.supported.dropdown")</option>
                    <option value="available">$i18n.getText("upm.install.available.dropdown")</option>
                </select>
                </div>

                <div id="upm-install-search-form-container">
                <form id="upm-install-search-form" class="skip-dirty-check" action="">
                    <button class="upm-search-button" id="upm-install-search-clear-button" type="reset">$i18n.getText("upm.search.button.clear")</button>
                    <button class="upm-search-button" id="upm-install-search-submit-button">$i18n.getText("upm.search.button.submit")</button>
                    <input id="upm-install-search-box" class="upm-textbox" name="q" value="$i18n.getText("upm.install.search")">
                </form>
                </div>
                <div class="clearer"></div>

                <div id="upm-install-container-featured" class="upm-install-type">
                    <h3>$i18n.getText("upm.install.featured")</h3>
                    <p class="upm-section-description">
                        $featuredDescriptionWithHtml
                    </p>
                    <div id="upm-install-featured"></div>
                </div>

                <div id="upm-install-container-popular" class="upm-install-type">
                    <h3>$i18n.getText("upm.install.popular")</h3>
                    <p class="upm-section-description">
                        $popularDescriptionWithHtml
                    </p>
                    <div id="upm-install-popular"></div>
                </div>

                <div id="upm-install-container-supported" class="upm-install-type">
                    <h3>$i18n.getText("upm.install.supported")</h3>
                    <p class="upm-section-description">
                        $supportedDescriptionWithHtml
                    </p>
                    <div id="upm-install-supported"></div>
                </div>

                <div id="upm-install-container-available" class="upm-install-type">
                    <h3>$i18n.getText("upm.install.available")</h3>
                    <p class="upm-section-description">
                        $availableDescriptionWithHtml
                    </p>
                    <div id="upm-install-available"></div>
                </div>

                <div id="upm-install-container-search" class="upm-install-type">
                    <div id="upm-install-search"></div>
                </div>

                <input type="hidden" id="upm-install-token" value="">
            </div>
            #end

            <!-- UPGRADE CHECK TAB -->
            #if($tabVisibility.compatibilityVisible)
            <div id="upm-panel-compatibility" class="upm-panel">

                <p>
                    $i18n.getText("upm.check.summary", "$applicationProperties.getDisplayName()")
                </p>

                <div class="hidden" id="upm-compatibility-no-versions">
                    
                    <p>
                        $i18n.getText("upm.check.summary.up.to.date", "$applicationProperties.getDisplayName()")
                    </p>
                        
                    <div class="upm-congrats-message upm-congrats-message-product-upgrades">
                        <h4>$i18n.getText("upm.upgrade.congratulations")</h4>
                        <p>
                            $i18n.getText("upm.upgrade.up.to.date", "$applicationProperties.getDisplayName()")
                        </p>
                    </div>
                </div>
    
                <div class="hidden" id="upm-compatibility-versions-available">
                    
                    <p>
                        $i18n.getText("upm.check.summary.upgrade.available")
                    </p>

                    <form action="" class="skip-dirty-check" id="upm-compatibility-form">
                        <label for="upm-compatibility-version">$i18n.getText("upm.check.checkCompatibility"):</label>
                        <select name="version" id="upm-compatibility-version" disabled="disabled">
                            <option value="" selected="selected">$i18n.getText("upm.check.selectVersion")</option>
                        </select>
                        <input name="submit" class="submit" type="submit" value="$i18n.getText("upm.check.check")">
                    </form>
    
                    <div id="upm-compatibility-content">

                        <div id="upm-recent-product-release-container" class="upm-message info">$recentProductReleaseWithHtml</div>

                        <div id="upm-incompatible-plugins" class="upm-compatibility-category">
                            <h3>$i18n.getText("upm.check.incompatible")</h3>
                            <p class="upm-section-description">
                                $incompatibleDescriptionWithHtml
                            </p>
                        </div>
    
                        <div id="upm-need-upgrade-plugins" class="upm-compatibility-category">
                            <h3>$i18n.getText("upm.check.needUpgrade")</h3>
                            <p class="upm-section-description">
                                $needUpgradeDescriptionWithHtml
                            </p>
                        </div>
    
                        <div id="upm-need-product-upgrade-plugins" class="upm-compatibility-category">
                            <h3>$i18n.getText("upm.check.needProductUpgrade", "$applicationProperties.getDisplayName()")</h3>
                            <p class="upm-section-description">
                                $needProductUpgradeDescriptionWithHtml
                            </p>
                        </div>
    
                        <div id="upm-compatible-plugins" class="upm-compatibility-category">
                            <h3>$i18n.getText("upm.check.compatible")</h3>
                            <p class="upm-section-description">
                                $compatibleDescriptionWithHtml
                            </p>
                        </div>
    
                        <div id="upm-unknown-plugins" class="upm-compatibility-category">
                            <h3>$i18n.getText("upm.check.unknown")</h3>
                            <p class="upm-section-description">
                                $unknownDescriptionWithHtml
                            </p>
                        </div>

                        <div id="upm-no-userinstalled" class="upm-no-userinstalled hidden">
                            <p>
                                $i18n.getText("upm.check.no.plugins.installed")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            #end

            <!-- AUDIT LOG TAB -->
            #if($tabVisibility.auditLogVisible)
            <div id="upm-panel-log" class="upm-panel">
                <h3>$i18n.getText("upm.log.title")</h3>
                <p id="upm-log-description" class="hidden">
                    <a href="" title="$i18n.getText("upm.log.feed")" id="upm-audit-log-feed" target="_blank"><img src="$webResourceManager.getStaticPluginResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:plugin-manager", "images/feedicon.png")" alt="$i18n.getText("upm.log.feed")" height="16" width="16"></a>
                    <span id="upm-log-policy"></span>
                    <span id="upm-log-configure" class="hidden">(<a href="#" id="upm-log-configure-link">$i18n.getText("upm.log.configure")</a>)</span>
                </p>
                <form action="" id="upm-log-configuration" class="hidden skip-dirty-check">
                    $purgePolicyInputWithHtml
                    <input type="submit" value="$i18n.getText("upm.log.confirm")" id="upm-log-configuration-submit">
                    <a href="#" id="upm-log-configuration-cancel">$i18n.getText("upm.log.cancel")</a>
                </form>
            </div>
            #end

            <!-- OSGI TAB -->
            #if($tabVisibility.osgiVisible)
            <div id="upm-panel-osgi" class="upm-panel">
                <input id="upm-osgi-filter-box" class="upm-textbox upm-filterbox" value="$i18n.getText('upm.filter.filterOsgiBundles')">
                <div id="upm-osgi-search-form-container">
                <form id="upm-osgi-search-form" class="skip-dirty-check" action="">
                    <button class="upm-search-button" id="upm-osgi-search-clear-button" type="reset">$i18n.getText("upm.search.button.clear")</button>
                    <button class="upm-search-button" id="upm-osgi-search-submit-button">$i18n.getText("upm.search.button.submit")</button>
                    <input id="upm-osgi-search-box" class="upm-textbox" name="q" value="$i18n.getText("upm.osgi.search")">
                </form>
                </div>

                <h3>$i18n.getText("upm.osgi.title")</h3>
                <p id="upm-osgi-description">
                    $i18n.getText("upm.osgi.description", "$applicationProperties.getDisplayName()")
                </p>
                <div id="upm-osgi-bundles"></div>
            </div>
            #end

        </div>

        <script type="text/x-template" id="upm-upload-form-template">
            <form id="upm-upload-form" class="skip-dirty-check" target="upm-upload-target" action="" method="post" enctype="multipart/form-data">
                <span>
                    $i18n.getText("upm.upload.instructions")
                </span>
                <div>
                    <label for="upm-upload-file">$i18n.getText("upm.upload.fromMyComputer")</label>
                    <input type="file" id="upm-upload-file" name="plugin" size="38">
                </div>
                <span class="instructions">$i18n.getText("upm.upload.or")</span>
                <div>
                    <label for="upm-upload-url">$i18n.getText("upm.upload.fromThisLocation")</label>
                    <input type="text" class="text" value="" id="upm-upload-url" name="url">
                </div>
            </form>
        </script>

        <script type="text/x-template" id="upm-download-nondeployable-template">
            <div id="upm-download-nondeployable">
                <span class="upm-nondeployable-instruction"></span>
                <ul class="upm-nondeployable-ul">
                    <li><a href="#" class="upm-nondeployable-homepage-link" target="_blank"></a></li>
                    <li><a href="#" class="upm-nondeployable-download-link"></a></li>
                </ul>
            </div>
        </script>

        <script type="text/x-template" id="upm-plugin-list-template">
            <div class="upm-development-product-version upm-warning-box">
                <p>$noProductVersionDevP1WithHtml</p>
                <p>$noProductVersionDevP2WithHtml</p>
            </div>
			<div class="upm-unknown-product-version upm-warning-box">
			    <p>
			        $i18n.getText("upm.plugins.noProductVersion.release", "$applicationProperties.getDisplayName()")
			    </p>
			</div>			
            <div class="upm-plugin-list-container">
                <div class="upm-expand-collapse-all">
                    <a href="#" class="upm-expand-all" title="$i18n.getText("upm.plugins.expandAll")"><span>$i18n.getText("upm.plugins.expandAll")</span></a>
                    <a href="#" class="upm-collapse-all" title="$i18n.getText("upm.plugins.collapseAll")"><span>$i18n.getText("upm.plugins.collapseAll")</span></a>
                </div>
                <div class="upm-plugin-list"></div>
                <div class="upm-plugin-list-pager hidden">
                    <span class="upm-pager-text">$i18n.getText("upm.plugins.loading")</span>
                    <button class="upm-pager-button">$i18n.getText("upm.plugins.loadMore")</button>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="upm-plugin-template">
            <div class="upm-plugin">
                <div class="upm-plugin-row">
                    <h4 class="upm-plugin-name"></h4>
                    <p class="upm-plugin-summary"></p>
                    <span class="upm-requires-restart-icon" title="$i18n.getText("upm.requiresRestart.altText")"></span>
                    <div class="clearer"></div>
                </div>
                <input type="hidden" class="upm-plugin-link-self" value="">
                <input type="hidden" class="upm-plugin-link-modify" value="">
                <input type="hidden" class="upm-plugin-link-delete" value="">
                <div class="upm-details"></div>
            </div>
        </script>

        <script type="text/x-template" id="upm-plugin-details-upgrade">
            <div>
                <dl>
                    <dt>$i18n.getText("upm.plugin.key"):</dt>
                    <dd class="upm-plugin-key"></dd>

                    <dt>$i18n.getText("upm.plugin.developer"):</dt>
                    <dd class="upm-plugin-developer"></dd>

                    <dt>$i18n.getText("upm.plugin.upgradeVersion"):</dt>
                    <dd class="upm-plugin-version"></dd>

                    <dt>$i18n.getText("upm.plugin.installedVersion"):</dt>
                    <dd class="upm-plugin-installed-version"></dd>

                    <dt><a class="upm-plugin-system-version-help" target="_blank" href="http://confluence.atlassian.com/display/PLUGINFRAMEWORK/Differences+between+Version+1+Plugins+and+Version+2+Plugins">$i18n.getText("upm.plugin.system.version")</a>:</dt>
                    <dd class="upm-plugin-system-version"></dd>

                    <dt>$i18n.getText("upm.plugin.license"):</dt>
                    <dd class="upm-plugin-license"></dd>
                </dl>
                <div class="clearer"></div>

                <div class="upm-plugin-actions">
                    <a href="#" class="upm-details-link" target="_blank">$i18n.getText("upm.plugin.action.details")</a> <span class="pipe upm-details-pipe">|</span>
                    <a href="#" class="upm-release-notes-link" target="_blank">$i18n.getText("upm.plugin.action.releaseNotes")</a> <span class="pipe upm-release-notes-pipe upm-button-pipe">|</span>
                    <button class="upm-upgrade">$i18n.getText("upm.plugin.action.upgrade")</button>
                    <button class="upm-download hidden">$i18n.getText("upm.plugin.action.download")</button>
                </div>

                <input type="hidden" class="upm-plugin-binary" value="">
                <input type="hidden" class="upm-plugin-homepage" value="">
            </div>
        </script>

        <script type="text/x-template" id="upm-plugin-details-install">
            <div>
                <img class="upm-plugin-image" src="$webResourceManager.getStaticPluginResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:plugin-manager", "images/icon-default.png")" height="90" width="90" alt="">
                <div class="upm-plugin-description"></div>
                <div class="clearer"></div>
                <hr>
                <div class="clearer"></div>
                <dl>
                    <dt>$i18n.getText("upm.plugin.key"):</dt>
                    <dd class="upm-plugin-key"></dd>

                    <dt>$i18n.getText("upm.plugin.developer"):</dt>
                    <dd class="upm-plugin-developer"></dd>

                    <dt>$i18n.getText("upm.plugin.version"):</dt>
                    <dd class="upm-plugin-version"></dd>

                    <dt><a class="upm-plugin-system-version-help" target="_blank" href="http://confluence.atlassian.com/display/PLUGINFRAMEWORK/Differences+between+Version+1+Plugins+and+Version+2+Plugins">$i18n.getText("upm.plugin.system.version")</a>:</dt>
                    <dd class="upm-plugin-system-version"></dd>

                    <dt>$i18n.getText("upm.plugin.license"):</dt>
                    <dd class="upm-plugin-license"></dd>
                </dl>
                <div class="clearer"></div>

                <div class="upm-plugin-actions">
                    <a href="#" class="upm-details-link" target="_blank">$i18n.getText("upm.plugin.action.details")</a> <span class="pipe upm-details-pipe">|</span>
                    <a href="#" class="upm-release-notes-link" target="_blank">$i18n.getText("upm.plugin.action.releaseNotes")</a> <span class="pipe upm-release-notes-pipe upm-button-pipe">|</span>
                    <button class="upm-install">$i18n.getText("upm.plugin.action.install")</button>
                    <button class="upm-download hidden">$i18n.getText("upm.plugin.action.download")</button>
                </div>

                <input type="hidden" class="upm-plugin-binary" value="">
                <input type="hidden" class="upm-plugin-homepage" value="">
            </div>
        </script>

        <script type="text/x-template" id="upm-osgi-bundle-details">
            <div>
                <dl class="upm-osgi-bundle-metadata"></dl>
                <div class="clearer"></div>
                <dl class="upm-osgi-bundle-unparsed-headers"></dl>
                <div class="clearer"></div>
                <div class="upm-osgi-bundle-parsed-headers"></div>
                <div class="upm-plugin-modules upm-osgi-services-registered">
                    <span><a class="upm-module-toggle" href="#"><span class="upm-toggle-icon"></span>$i18n.getText("upm.osgi.services.registered")</a> - <span class="upm-count-osgi-services"></span></span>
                    <div class="upm-module-container"></div>
                </div>
                <div class="upm-plugin-modules upm-osgi-services-in-use">
                    <span><a class="upm-module-toggle" href="#"><span class="upm-toggle-icon"></span>$i18n.getText("upm.osgi.services.inUse")</a> - <span class="upm-count-osgi-services"></span></span>
                    <div class="upm-module-container"></div>
                </div>
                <div class="clearer"></div>
            </div>
        </script>

        <script type="text/x-template" id="upm-osgi-parsed-header">
            <div class="upm-plugin-modules">
                <span><a class="upm-module-toggle" href="#"><span class="upm-toggle-icon"></span><span class="upm-osgi-parsed-header-name"></span></a> - <span class="upm-count-osgi-parsed-header-entries"></span></span>
                <div class="upm-module-container"></div>
            </div>
        </script>

        <script type="text/x-template" id="upm-osgi-bundle-xref-template">
            <div>
                <a class="upm-osgi-bundle-xref" href="#osgi"></a>
                <input type="hidden">
            </div>
        </script>

        <script type="text/x-template" id="upm-plugin-details-manage">
            <div>
                <div class="upm-requires-restart-message upm-message info"></div>
                <button class="upm-uninstall">$i18n.getText("upm.plugin.action.uninstall")</button>

                <dl>
                    <dt>$i18n.getText("upm.plugin.key"):</dt>
                    <dd class="upm-plugin-key"></dd>

                    <dt>$i18n.getText("upm.plugin.developer"):</dt>
                    <dd class="upm-plugin-developer"></dd>

                    <dt>$i18n.getText("upm.plugin.version"):</dt>
                    <dd class="upm-plugin-version"></dd>
                </dl>
                <div class="clearer"></div>

                <h5></h5>

                <div class="upm-plugin-modules">
                    <span class="upm-module-present hidden"><a class="upm-module-toggle" href="#"><span class="upm-toggle-icon"></span> $i18n.getText("upm.plugin.modules.manage")</a> - <span class="upm-count-enabled"></span></span>
                    <span class="upm-module-none hidden">$i18n.getText("upm.plugin.modules.none.available")</span>
                    <div class="upm-module-container"></div>
                </div>

                <div class="upm-plugin-actions">
                    <span class="upm-details-link" title="$i18n.getText("upm.plugin.action.details.loading")"><span style="color:gray">$i18n.getText("upm.plugin.action.details")</span></span> <span class="pipe upm-details-pipe">|</span>
                    <span class="upm-configure-link-off">$i18n.getText("upm.plugin.action.configure")</span>
                    <a href="#" class="upm-configure-link">$i18n.getText("upm.plugin.action.configure")</a>
                    <span class="pipe upm-configure-pipe upm-button-pipe">|</span>
                    <button class="upm-disable">$i18n.getText("upm.plugin.action.disable")</button>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="upm-plugin-details-compatibility">
            <div>
                <div class="upm-requires-restart-message upm-message info"></div>
                <dl>
                    <dt>$i18n.getText("upm.plugin.key"):</dt>
                    <dd class="upm-plugin-key"></dd>

                    <dt>$i18n.getText("upm.plugin.developer"):</dt>
                    <dd class="upm-plugin-developer"></dd>

                    <div class="upm-plugin-upgrade-version hidden">
                        <dt>$i18n.getText("upm.plugin.upgradeVersion"):</dt>
                        <dd class="upm-plugin-upgrade-version"></dd>
                    </div>

                    <dt>$i18n.getText("upm.plugin.installedVersion"):</dt>
                    <dd class="upm-plugin-installed-version"></dd>
                    
                </dl>
                <div class="clearer"></div>

                <h5></h5>

                <div class="upm-plugin-actions">
                    <button class="upm-disable">$i18n.getText("upm.plugin.action.disable")</button>
                    <button class="upm-upgrade">$i18n.getText("upm.plugin.action.upgrade")</button>
                    <button class="upm-download hidden">$i18n.getText("upm.plugin.action.download")</button>
                </div>
                
                <input type="hidden" class="upm-plugin-binary" value="">
                <input type="hidden" class="upm-plugin-homepage" value="">
            </div>
        </script>

        <script type="text/x-template" id="upm-progress-template">
            <div id="upm-progress">
                <img src="$webResourceManager.getStaticPluginResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:plugin-manager", "images/in-progress.gif")" alt="$i18n.getText("upm.progress.inProgress")">
                <div class="upm-progress-text"></div>
                <div class="upm-progress-bar-container">
                    <div class="upm-progress-bar"><div class="upm-progress-amount"></div></div>
                    <span class="upm-progress-bar-percent">0</span>%
                </div>
            </div>
        </script>

        <script type="text/x-template" id="upm-plugin-module-template">
            <div class="upm-module">
                <div class="upm-module-state">
                    <p>$i18n.getText("upm.plugin.module.disabled")</p>
                </div>
                <div class="upm-module-actions">
                    <button class="upm-module-disable">$i18n.getText("upm.plugin.action.disable")</button>
                    <button class="upm-module-enable">$i18n.getText("upm.plugin.action.enable")</button>
                    <p>$i18n.getText("upm.plugin.module.cannot.disable")</p>
                </div>
                <h5 class="upm-module-name"></h5>
                <p class="upm-module-key"></p>
                <div class="clearer"></div>
                <p class="upm-module-description"></p>
                <input type="hidden" class="upm-module-link" value="">
                <div class="clearer"></div>
            </div>
        </script>

        <script type="text/x-template" id="upm-message-template">
            <div class="upm-message closable">
                <a href="#" class="upm-message-close"><span>$i18n.getText("upm.messages.close")</span></a>
                <span class="upm-message-text"></span>
            </div>
        </script>

        <script type="text/x-template" id="upm-log-template">
            <div id="upm-audit-log">
                <div id="upm-audit-log-pagination">
                    <a href="#" id="upm-audit-log-first" title="$i18n.getText("upm.log.first")"><span>$i18n.getText("upm.log.first")</span></a>
                    <a href="#" id="upm-audit-log-previous" title="$i18n.getText("upm.log.previous")"><span>$i18n.getText("upm.log.previous")</span></a>
                    <span id="upm-audit-log-count"></span>
                    <a href="#" id="upm-audit-log-next" title="$i18n.getText("upm.log.next")"><span>$i18n.getText("upm.log.next")</span></a>
                    <a href="#" id="upm-audit-log-last" title="$i18n.getText("upm.log.last")"><span>$i18n.getText("upm.log.last")</span></a>
                    <div class="clearer"></div>
                    <input id="upm-audit-log-first-url" type="hidden" value="">
                    <input id="upm-audit-log-previous-url" type="hidden" value="">
                    <input id="upm-audit-log-next-url" type="hidden" value="">
                    <input id="upm-audit-log-last-url" type="hidden" value="">
                </div>
                <table class="aui">
                    <thead>
                    <tr>
                        <th id="auditLogMessage">$i18n.getText("upm.log.table.logMessage")</th>
                        <th id="auditLogUsername">$i18n.getText("upm.log.table.by")</th>
                        <th id="auditLogDate">$i18n.getText("upm.log.table.date") <a href="#" id="upm-audit-log-refresh" title="$i18n.getText("upm.log.refresh")"><span>$i18n.getText("upm.log.refresh")</span></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </script>

        <script type="text/x-template" id="upm-log-row-template">
            <tr>
                <td headers="auditLogMessage" class="message"></td>
                <td headers="auditLogUsername" class="username"></td>
                <td headers="auditLogDate" class="date"></td>
            </tr>
        </script>

        <script type="text/x-template" id="upm-jira-uninstall-template">
            <div>
                $jiraUninstallWithHtml
            </div>
        </script>
        
        <script type="text/x-template" id="upm-upgradeall-upgrading-progress-template">
            <div>
                <div class="upm-upgrade-text" id="upm-upgradeall-description">$upgradeAllUpgradingDescriptionWithHtml</div>
                <br>
                <div class="upm-upgrade-progress-text" id="upm-upgradeall-progress-description">$upgradeAllUpgradingProgressWithHtml</div>
            </div>
        </script>
        
        <script type="text/x-template" id="upm-upgradeall-downloading-progress-template">
            <div>
                <div class="upm-upgrade-text" id="upm-upgradeall-description">$upgradeAllDownloadingDescriptionWithHtml</div>
                <br>
                <div class="upm-upgrade-progress-text" id="upm-upgradeall-progress-description">$upgradeAllDownloadingProgressWithHtml</div>
            </div>
        </script>

        <script type="text/x-template" id="upm-requires-restart-template">
            <li>
                <span class="upm-requires-restart-item"></span>
                <a href="#" class="upm-requires-restart-cancel" title="$i18n.getText("upm.requiresRestart.cancel")">[x]</a>
                <input type="hidden" value="" class="upm-requires-restart-cancel-uri">
            </li>
        </script>
        
        <fieldset class="parameters hidden">
            <input type="hidden" value="$i18n.getText("upm.plugins.up.to.date")" name="upmPluginUpToDate" id="upmPluginUpToDate">
            <input type="hidden" value="$i18n.getText("upm.plugin.modules.count.enabled")" name="upmCountEnabled" id="upmCountEnabled">
            <input type="hidden" value="$i18n.getText("upm.tabs.upgrade")" name="upm.tabs.upgrade" id="upm.tabs.upgrade">
            <input type="hidden" value="$i18n.getText("upm.tabs.install")" name="upm.tabs.install" id="upm.tabs.install">
            <input type="hidden" value="$i18n.getText("upm.tabs.manage")" name="upm.tabs.manage" id="upm.tabs.manage">
            <input type="hidden" value="$i18n.getText("upm.tabs.upgradeCheck", $applicationProperties.getDisplayName())" name="upm.tabs.compatibility" id="upm.tabs.compatibility">
            <input type="hidden" value="$i18n.getText("upm.tabs.auditLog")" name="upm.tabs.log" id="upm.tabs.log">
            <input type="hidden" value="$i18n.getText("upm.tabs.osgi")" name="upm.tabs.osgi" id="upm.tabs.osgi">
            <!-- UPM-999 - hack to get feCru tests running -->
            <input type="hidden" value="$fecruTestHack" name="fecruTestHack" id="fecruTestHack">
            <input type="hidden" value="$userManager.getRemoteUsername()" name="upmCurrentUsername" id="upmCurrentUsername">
            <input type="hidden" value="$applicationProperties.getBaseUrl()" name="upmBaseUrl" id="upmBaseUrl">
            <input type="hidden" value="$webResourceManager.getStaticPluginResource("com.atlassian.upm.atlassian-universal-plugin-manager-plugin:fakedata", "")" name="upmResourcePath" id="upmResourcePath">
            <input type="hidden" value="$i18n.getText("upm.unknown")" name="upmTextUnknown" id="upmTextUnknown">
            <input type="hidden" value="$i18n.getText("upm.close")" name="upmTextClose" id="upmTextClose">
            <input type="hidden" value="$i18n.getText("upm.filter.filterPlugins")" name="upmTextFilterPlugins" id="upmTextFilterPlugins">
            <input type="hidden" value="$i18n.getText("upm.filter.filterPlugins.none.available")" name="upmTextFilterPluginsNoneAvailable" id="upmTextFilterPluginsNoneAvailable">
            <input type="hidden" value="$i18n.getText("upm.filter.filterOsgiBundles")" name="upmTextFilterOsgiBundles" id="upmTextFilterOsgiBundles">
            <input type="hidden" value="$i18n.getText("upm.filter.filterOsgiBundles.none.available")" name="upmTextFilterOsgiBundlesNoneAvailable" id="upmTextFilterOsgiBundlesNoneAvailable">
            <input type="hidden" value="$i18n.getText("upm.install.search")" name="upmTextInstallSearchBox" id="upmTextInstallSearchBox">
            <input type="hidden" value="$i18n.getText("upm.install.search.results")" name="upmTextSearchResults" id="upmTextSearchResults">
            <input type="hidden" value="$i18n.getText("upm.install.search.dropdown")" name="upmTextSearchOption" id="upmTextSearchOption">
            <input type="hidden" value="$i18n.getText("upm.nondeployable.instruction")" name="upmTextNonDeployableInstruction" id="upmTextNonDeployableInstruction">
            <input type="hidden" value="$i18n.getText("upm.nondeployable.header")" name="upmTextNonDeployableHeader" id="upmTextNonDeployableHeader">
            <input type="hidden" value="$i18n.getText("upm.nondeployable.homepage")" name="upmTextNonDeployableHomepage" id="upmTextNonDeployableHomepage">
            <input type="hidden" value="$i18n.getText("upm.nondeployable.download")" name="upmTextNonDeployableDownload" id="upmTextNonDeployableDownload">
            <input type="hidden" value="$i18n.getText("upm.manage.safeMode.confirm")" name="upmTextSafeModeConfirm" id="upmTextSafeModeConfirm">
            <input type="hidden" value="$i18n.getText("upm.manage.safeMode.restore.confirm")" name="upmTextSafeModeRestoreConfirm" id="upmTextSafeModeRestoreConfirm">
            <input type="hidden" value="$i18n.getText("upm.manage.safeMode.exit.confirm")" name="upmTextSafeModeExitConfirm" id="upmTextSafeModeExitConfirm">
            <input type="hidden" value="$i18n.getText("upm.manage.uninstall.confirm", $applicationProperties.getDisplayName())" name="upmTextUninstallConfirm" id="upmTextUninstallConfirm">
            <input type="hidden" value="$i18n.getText("upm.manage.show.system")" name="upmManageShowSystem" id="upmManageShowSystem">
            <input type="hidden" value="$i18n.getText("upm.manage.hide.system")" name="upmManageHideSystem" id="upmManageHideSystem">
            <input type="hidden" value="$i18n.getText("upm.upload.uploadPlugin")" name="upmTextUploadPlugin" id="upmTextUploadPlugin">
            <input type="hidden" value="$i18n.getText("upm.upload.upload")" name="upmTextUpload" id="upmTextUpload">
            <input type="hidden" value="$i18n.getText("upm.upload.cancel")" name="upmTextCancel" id="upmTextCancel">
            <input type="hidden" value="$i18n.getText("upm.plugins.notFoundManageUserInstalled", "$applicationProperties.getDisplayName()")" name="upmTextNotFoundManageUserInstalled" id="upmTextNotFoundManageUserInstalled">
            <input type="hidden" value="$i18n.getText("upm.plugins.notFoundInstall", "$applicationProperties.getDisplayName()")" name="upmTextNotFoundInstall" id="upmTextNotFoundInstall">
            <input type="hidden" value="$i18n.getText("upm.plugins.notFoundFilter")" name="upmTextFilterNoPlugins" id="upmTextFilterNoPlugins">
            <input type="hidden" value="$i18n.getText("upm.upgrade.upgradeAll")" name="upmTextUpgradeAll" id="upmTextUpgradeAll">
            <input type="hidden" value="$i18n.getText("upm.plugin.action.enable")" name="upmTextEnable" id="upmTextEnable">
            <input type="hidden" value="$i18n.getText("upm.plugin.action.disable")" name="upmTextDisable" id="upmTextDisable">
            <input type="hidden" value="$i18n.getText("upm.plugin.noRating")" name="upmTextNoRating" id="upmTextNoRating">
            <input type="hidden" value="$i18n.getText("upm.plugin.error")" name="upmTextPluginDetailsError" id="upmTextPluginDetailsError">
            <input type="hidden" value="$i18n.getText("upm.plugin.unknown")" name="upmTextUnknownPlugin" id="upmTextUnknownPlugin">
            <input type="hidden" value="$i18n.getText("upm.plugin.module.unknown")" name="upmTextUnknownPluginModule" id="upmTextUnknownPluginModule">
            <input type="hidden" value="$i18n.getText("upm.plugin.listError")" name="upmTextPluginListError" id="upmTextPluginListError">
            <input type="hidden" value="$i18n.getText("upm.progress.upgrade")" name="upmTextProgressUpgrade" id="upmTextProgressUpgrade">
            <input type="hidden" value="$i18n.getText("upm.progress.install")" name="upmTextProgressInstall" id="upmTextProgressInstall">
            <input type="hidden" value="$i18n.getText("upm.progress.uninstall")" name="upmTextProgressUninstall" id="upmTextProgressUninstall">
            <input type="hidden" value="$i18n.getText("upm.progress.upload")" name="upmTextProgressUpload" id="upmTextProgressUpload">
            <input type="hidden" value="$i18n.getText("upm.progress.disable")" name="upmTextProgressDisable" id="upmTextProgressDisable">
            <input type="hidden" value="$i18n.getText("upm.progress.enable")" name="upmTextProgressEnable" id="upmTextProgressEnable">
            <input type="hidden" value="$i18n.getText("upm.progress.safeMode.enable")" name="upmTextProgressSafeModeEnable" id="upmTextProgressSafeModeEnable">
            <input type="hidden" value="$i18n.getText("upm.progress.safeMode.restore")" name="upmTextProgressSafeModeRestore" id="upmTextProgressSafeModeRestore">
            <input type="hidden" value="$i18n.getText("upm.progress.safeMode.keepState")" name="upmTextProgressSafeModeKeepState" id="upmTextProgressSafeModeKeepState">
            <input type="hidden" value="$i18n.getText("upm.progress.pending")" name="upmTextProgressPendingTasks" id="upmTextProgressPendingTasks">
            <input type="hidden" value="$i18n.getText("upm.progress.upgradeAll")" name="upmTextProgressUpgradeAll" id="upmTextProgressUpgradeAll">
            <input type="hidden" value="$i18n.getText("upm.progress.upgradeall.finding")" name="upm.progress.upgradeall.finding" id="upm.progress.upgradeall.finding">
            <input type="hidden" value="$i18n.getText("upm.progress.upgradeall.upgrading")" name="upm.progress.upgradeall.upgrading" id="upm.progress.upgradeall.upgrading">
            <input type="hidden" value="$i18n.getText("upm.progress.cancellable.blocking")" name="upm.progress.cancellable.blocking" id="upm.progress.cancellable.blocking">
            <input type="hidden" value="$i18n.getText("upm.progress.install.downloading")" name="upm.progress.install.downloading" id="upm.progress.install.downloading">
            <input type="hidden" value="$i18n.getText("upm.progress.install.installing")" name="upm.progress.install.installing" id="upm.progress.install.installing">
            <input type="hidden" value="$i18n.getText("upm.log.emptyLog")" name="upmTextEmptyLog" id="upmTextEmptyLog">
            <input type="hidden" value="$i18n.getText("upm.log.error")" name="upmTextLogError" id="upmTextLogError">
            <input type="hidden" value="$i18n.getText("upm.messages.install.success")" name="upmTextInstallSuccess" id="upmTextInstallSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.install.notEnabled")" name="upmTextInstallSuccessNotEnabled" id="upmTextInstallSuccessNotEnabled">
            <input type="hidden" value="$i18n.getText("upm.messages.install.requiresRestart")" name="upmTextInstallNeedsRestart" id="upmTextInstallNeedsRestart">
            <input type="hidden" value="$i18n.getText("upm.messages.install.unrecognisedModuleTypes")" name="upmTextInstallUnrecognisedModuleTypes" id="upmTextInstallUnrecognisedModuleTypes">
            <input type="hidden" value="$i18n.getText("upm.messages.install.cannot.enable")" id="upmTextInstallCannotBeEnabled" name="upmTextInstallCannotBeEnabled">
            <input type="hidden" value="$i18n.getText("upm.messages.uninstall.success")" name="upmTextUninstallSuccess" id="upmTextUninstallSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.uninstall.requiresRestart")" name="upmTextUninstallNeedsRestart" id="upmTextUninstallNeedsRestart">
            <input type="hidden" value="$i18n.getText("upm.messages.upgrade.success")" name="upmTextUpgradeSuccess" id="upmTextUpgradeSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.upgrade.requiresRestart")" name="upmTextUpgradeNeedsRestart" id="upmTextUpgradeNeedsRestart">
            <input type="hidden" value="$i18n.getText("upm.messages.upgrade.error")" name="upmTextUpgradeError" id="upmTextUpgradeError">
            <input type="hidden" value="$i18n.getText("upm.messages.upgradeAll.complete")" name="upmTextUpgradeAllComplete" id="upmTextUpgradeAllComplete">
            <input type="hidden" value="$refreshRequiredWithHtml" name="upmTextRequiresRefresh" id="upmTextRequiresRefresh">
            <input type="hidden" value="$i18n.getText("upm.requiresRefresh.header")" name="upmTextRequiresRefreshHeader" id="upmTextRequiresRefreshHeader">
            <input type="hidden" value="$i18n.getText("upm.requiresRefresh.refresh")" name="upmTextRefresh" id="upmTextRefresh">
            <input type="hidden" value="$i18n.getText("upm.messages.disable.success")" name="upmTextDisableSuccess" id="upmTextDisableSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.enable.success")" name="upmTextEnableSuccess" id="upmTextEnableSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.module.disable.success")" name="upmTextModuleDisableSuccess" id="upmTextModuleDisableSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.module.enable.success")" name="upmTextModuleEnableSuccess" id="upmTextModuleEnableSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.install.remote.success")" name="upmTextRemoteInstallSuccess" id="upmTextRemoteInstallSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.safeMode.restore.success")" name="upmTextSafeModeRestoreSuccess" id="upmTextSafeModeRestoreSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.safeMode.keepState.success")" name="upmTextSafeModeKeepStateSuccess" id="upmTextSafeModeKeepStateSuccess">
            <input type="hidden" value="$i18n.getText("upm.messages.requiresRestart.cancel.upgrade")" name="upm.messages.requiresRestart.cancel.upgrade" id="upm.messages.requiresRestart.cancel.upgrade">
            <input type="hidden" value="$i18n.getText("upm.messages.requiresRestart.cancel.install")" name="upm.messages.requiresRestart.cancel.install" id="upm.messages.requiresRestart.cancel.install">
            <input type="hidden" value="$i18n.getText("upm.messages.requiresRestart.cancel.remove")" name="upm.messages.requiresRestart.cancel.remove" id="upm.messages.requiresRestart.cancel.remove">
            <input type="hidden" value="$i18n.getText("upm.messages.requiresRestart.no.such.plugin")" name="upm.messages.requiresRestart.no.such.plugin" id="upm.messages.requiresRestart.no.such.plugin">
            <input type="hidden" value="$i18n.getText("upm.requiresRestart.show")" id="upmTextRequiresRestartShow" name="upmTextRequiresRestartShow">
            <input type="hidden" value="$i18n.getText("upm.requiresRestart.hide")" id="upmTextRequiresRestartHide" name="upmTextRequiresRestartHide">
            <input type="hidden" value="$i18n.getText("upm.auditLog.count")" id="upmTextAuditLogCount" name="upmTextAuditLogCount">
            <input type="hidden" value="$i18n.getText("upm.log.description")" id="upmTextAuditLogDescription" name="upmTextAuditLogDescription">
            <input type="hidden" value="$i18n.getText("upm.log.description.singular")" id="upmTextAuditLogDescriptionSingular" name="upmTextAuditLogDescriptionSingular">
            <input type="hidden" value="$i18n.getText("upm.osgi.description")" id="upmOsgiDescription" name="upmOsgiDescription">
            <input type="hidden" value="$i18n.getText("upm.osgi.count.entry")" id="upmOsgiCountEntry" name="upmOsgiCountEntry">
            <input type="hidden" value="$i18n.getText("upm.osgi.count.entries")" id="upmOsgiCountEntries" name="upmOsgiCountEntries">
            <input type="hidden" value="$i18n.getText("upm.osgi.provided.by")" id="upmOsgiProvidedBy" name="upmOsgiProvidedBy">
            <input type="hidden" value="$i18n.getText("upm.osgi.used.by")" id="upmOsgiUsedBy" name="upmOsgiUsedBy">
            <input type="hidden" value="$i18n.getText("upm.osgi.service")" id="upmOsgiService" name="upmOsgiService">
            <input type="hidden" value="$i18n.getText("upm.osgi.search")" name="upmTextOsgiSearchBox" id="upmTextOsgiSearchBox">
            <input type="hidden" value="$i18n.getText("upm.osgi.bundle.location")" name="upmTextOsgiBundleLocation" id="upmTextOsgiBundleLocation">
            <input type="hidden" value="$i18n.getText("upm.manage.jira.uninstall.header")" id="upmTextJiraUninstallHeader" name="upmTextJiraUninstallHeader">
            <input type="hidden" value="$i18n.getText("upm.auditLog.error.invalid.purgeAfter")" id="upmAuditLogErrorInvalidPurgeAfter" name="upmAuditLogErrorInvalidPurgeAfter">
            <input type="hidden" value="$i18n.getText("upm.confirm.header")" id="upmTextConfirmHeader" name="upmTextConfirmHeader">
            <input type="hidden" value="$i18n.getText("upm.confirm.continue")" id="upmTextConfirmContinue" name="upmTextConfirmContinue">
            <input type="hidden" value="$i18n.getText("upm.confirm.cancel")" id="upmTextConfirmCancel" name="upmTextConfirmCancel">
            <input type="hidden" value="$i18n.getText("upm.pendingTasks.task.detail")" id="upmTextPendingTaskDetail" name="upmTextPendingTaskDetail">
            <input type="hidden" value="$i18n.getText("upm.pendingTasks.conflict")" id="upmTextPendingTaskConflict" name="upmTextPendingTaskConflict">
            <input type="hidden" value="$i18n.getText("upm.pendingTasks.conflict.title")" id="upmTextPendingTaskConflictHeader" name="upmTextPendingTaskConflictHeader">

            <!-- Messages -->
            <input type="hidden" value="$i18n.getText("upm.safeMode.error.cannot.enter.precondition.not.met")" id="upm.safeMode.error.cannot.enter.precondition.not.met" name="upm.safeMode.error.cannot.enter.precondition.not.met">
            <input type="hidden" value="$i18n.getText("upm.safeMode.error.cannot.save.configuration")" id="upm.safeMode.error.cannot.save.configuration" name="upm.safeMode.error.cannot.save.configuration">
            <input type="hidden" value="$i18n.getText("upm.safeMode.error.cannot.restore.configuration.not.in.safe.mode")" id="upm.safeMode.error.cannot.restore.configuration.not.in.safe.mode" name="upm.safeMode.error.cannot.restore.configuration.not.in.safe.mode">
            <input type="hidden" value="$i18n.getText("upm.safeMode.error.cannot.restore.configuration")" id="upm.safeMode.error.cannot.restore.configuration" name="upm.safeMode.error.cannot.restore.configuration">
            <input type="hidden" value="$i18n.getText("upm.safeMode.error.cannot.go.to.safe.mode")" id="upm.safeMode.error.cannot.go.to.safe.mode" name="upm.safeMode.error.cannot.go.to.safe.mode">
            <input type="hidden" value="$i18n.getText("upm.safeMode.error.already.entered.safeMode")" id="upm.safeMode.error.already.entered.safeMode" name="upm.safeMode.error.already.entered.safeMode">
            <input type="hidden" value="$i18n.getText("upm.safeMode.error.already.exited.safeMode")" id="upm.safeMode.error.already.exited.safeMode" name="upm.safeMode.error.already.exited.safeMode">
            <input type="hidden" value="$i18n.getText("upm.plugin.error.unexpected.error")" id="upm.plugin.error.unexpected.error" name="upm.plugin.error.unexpected.error">
            <input type="hidden" value="$i18n.getText("upm.plugin.error.invalid.upm.plugin.action")" id="upm.plugin.error.invalid.upm.plugin.action" name="upm.plugin.error.invalid.upm.plugin.action">
            <input type="hidden" value="$i18n.getText("upm.plugin.error.failed.to.enable")" id="upm.plugin.error.failed.to.enable" name="upm.plugin.error.failed.to.enable">
            <input type="hidden" value="$i18n.getText("upm.plugin.error.failed.to.disable")" id="upm.plugin.error.failed.to.disable" name="upm.plugin.error.failed.to.disable">
            <input type="hidden" value="$i18n.getText("upm.upgrade.error.safe.mode")" id="upm.upgrade.error.safe.mode" name="upm.upgrade.error.safe.mode">
            <input type="hidden" value="$i18n.getText("upm.upgrade.error.downgrade")" id="upm.upgrade.error.downgrade" name="upm.upgrade.error.downgrade">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.access.denied")" id="upm.pluginInstall.error.access.denied" name="upm.pluginInstall.error.access.denied">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.response.exception")" id="upm.pluginInstall.error.response.exception" name="upm.pluginInstall.error.response.exception">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.install.failed")" id="upm.pluginInstall.error.install.failed" name="upm.pluginInstall.error.install.failed">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.invalid.uri.syntax")" id="upm.pluginInstall.error.invalid.uri.syntax" name="upm.pluginInstall.error.invalid.uri.syntax">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.invalid.relative.uri")" id="upm.pluginInstall.error.invalid.relative.uri" name="upm.pluginInstall.error.invalid.relative.uri">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.safe.mode")" id="upm.pluginInstall.error.safe.mode" name="upm.pluginInstall.error.safe.mode">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.unknown.plugin.type")" id="upm.pluginInstall.error.unknown.plugin.type" name="upm.pluginInstall.error.unknown.plugin.type">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.legacy.plugins.unsupported")" id="upm.pluginInstall.error.legacy.plugins.unsupported" name="upm.pluginInstall.error.legacy.plugins.unsupported">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.xml.plugins.unsupported")" id="upm.pluginInstall.error.xml.plugins.unsupported" name="upm.pluginInstall.error.xml.plugins.unsupported">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.unrecognised.plugin.version")" id="upm.pluginInstall.error.unrecognised.plugin.version" name="upm.pluginInstall.error.unrecognised.plugin.version">
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.not.deployable")" id="upm.pluginInstall.error.not.deployable" name="upm.pluginInstall.error.not.deployable">
            <input type="hidden" value="$i18n.getText("upm.pluginUninstall.error.plugin.not.uninstallable")" id="upm.pluginUninstall.error.plugin.not.uninstallable" name="upm.pluginUninstall.error.plugin.not.uninstallable">
            <input type="hidden" value="$i18n.getText("upm.pluginUninstall.error.plugin.is.bundled")" id="upm.pluginUninstall.error.plugin.is.bundled" name="upm.pluginUninstall.error.plugin.is.bundled">
            <input type="hidden" value="$i18n.getText("upm.pluginUninstall.error.plugin.is.system")" id="upm.pluginUninstall.error.plugin.is.system" name="upm.pluginUninstall.error.plugin.is.system">
            <input type="hidden" value="$i18n.getText("upm.pluginUninstall.error.plugin.is.static")" id="upm.pluginUninstall.error.plugin.is.static" name="upm.pluginUninstall.error.plugin.is.static">
            <input type="hidden" value="$i18n.getText("upm.pluginUninstall.error.failed.to.uninstall")" id="upm.pluginUninstall.error.failed.to.uninstall" name="upm.pluginUninstall.error.failed.to.uninstall">
            <input type="hidden" value="$i18n.getText("upm.pluginUninstall.error.safe.mode")" id="upm.pluginUninstall.error.safe.mode" name="upm.pluginUninstall.error.safe.mode">
            <input type="hidden" value="$i18n.getText("upm.pluginDisable.error.plugin.is.bundled")" id="upm.pluginDisable.error.plugin.is.bundled" name="upm.pluginDisable.error.plugin.is.bundled">
            <input type="hidden" value="$i18n.getText("upm.pluginDisable.error.plugin.is.system")" id="upm.pluginDisable.error.plugin.is.system" name="upm.pluginDisable.error.plugin.is.system">
            <input type="hidden" value="$i18n.getText("upm.pluginModule.error.failed.to.enable")" id="upm.pluginModule.error.failed.to.enable" name="upm.pluginModule.error.failed.to.enable">
            <input type="hidden" value="$i18n.getText("upm.pluginModule.error.failed.to.disable")" id="upm.pluginModule.error.failed.to.disable" name="upm.pluginModule.error.failed.to.disable">
            <input type="hidden" value="$i18n.getText("upm.pluginModule.error.cannot.be.disabled")" id="upm.pluginModule.error.cannot.be.disabled" name="upm.pluginModule.error.cannot.be.disabled">
            <input type="hidden" value="$i18n.getText("upm.pluginModule.error.cannot.recognise.type")" id="upm.pluginModule.error.cannot.recognise.type" name="upm.pluginModule.error.cannot.recognise.type">
            <input type="hidden" value="$i18n.getText("upm.auditLog.safeMode.enter.success")" id="upm.auditLog.safeMode.enter.success" name="upm.auditLog.safeMode.enter.success">
            <input type="hidden" value="$i18n.getText("upm.auditLog.safeMode.enter.failure")" id="upm.auditLog.safeMode.enter.failure" name="upm.auditLog.safeMode.enter.failure">
            <input type="hidden" value="$i18n.getText("upm.auditLog.safeMode.exit.success")" id="upm.auditLog.safeMode.exit.success" name="upm.auditLog.safeMode.exit.success">
            <input type="hidden" value="$i18n.getText("upm.auditLog.safeMode.exit.failure")" id="upm.auditLog.safeMode.exit.failure" name="upm.auditLog.safeMode.exit.failure">
            <input type="hidden" value="$i18n.getText("upm.auditLog.error.invalid.purgeAfter")" id="upm.auditLog.error.invalid.purgeAfter" name="upm.auditLog.error.invalid.purgeAfter">
            <input type="hidden" value="$i18n.getText("upm.auditLog.error.invalid.maxEntries")" id="upm.auditLog.error.invalid.maxEntries" name="upm.auditLog.error.invalid.maxEntries">
            <input type="hidden" value="$i18n.getText("upm.requiresRestart.upgrade")" id="upm.requiresRestart.upgrade" name="upm.requiresRestart.upgrade">
            <input type="hidden" value="$i18n.getText("upm.requiresRestart.install")" id="upm.requiresRestart.install" name="upm.requiresRestart.install">
            <input type="hidden" value="$i18n.getText("upm.requiresRestart.remove")" id="upm.requiresRestart.remove" name="upm.requiresRestart.remove">
            <input type="hidden" value="$i18n.getText("upm.pac.connection.error")" id="upm.pac.connection.error" name="upm.pac.connection.error">
            <input type="hidden" value="$i18n.getText("upm.baseurl.connection.error")" id="upm.baseurl.connection.error" name="upm.baseurl.connection.error">
            <input type="hidden" value="$i18n.getText("upm.error.invalid.token")" id="upm.error.invalid.token" name="upm.error.invalid.token">
            <input type="hidden" value="$i18n.getText("upm.error.unauthorized")" id="upm.error.unauthorized" name="upm.error.unauthorized" >
            <input type="hidden" value="$i18n.getText("upm.pluginInstall.error.unsupported.protocol")" id="upm.pluginInstall.error.unsupported.protocol" name="upm.pluginInstall.error.unsupported.protocol">
            <input type="hidden" value="$i18n.getText("upm.install.upload.empty.error")" id="upm.install.upload.empty.error" name="upm.install.upload.empty.error">
            <input type="hidden" value="$i18n.getText("upm.plugin.no.description")" id="upm.plugin.no.description" name="upm.plugin.no.description">
            <input type="hidden" value="$i18n.getText("upm.plugin.action.details.notfound")" id="upm.plugin.action.details.notfound" name="upm.plugin.action.details.notfound">

            <!-- Resource URIs -->
            #foreach( $entry in $linkBuilder.buildPermissionedUris().entrySet() )
                <input type="hidden" value="$entry.getValue()" name="$entry.getKey()" id="$entry.getKey()">
            #end
            
        </fieldset>

    <iframe id="upm-upload-target" name="upm-upload-target" src=""></iframe>

    </div>
</body>
</html>
